<h1>About me</h1>

<p>
  Hola, me llamo Juan Vicente. tengo 44 años y soy desarrollador web, apasionado
  por la programacion, los videojuegos y los gatos.
</p>
<h2>Lo que me gusta.</h2>
<p>
  Siempre me ha gustado saber como funcionan las cosas y un dia mi padre trajo a
  casa un spectrum y mi vida cambió para siempre. Hice mis primeras "pokes" para
  lo juegos siguiendo la revista micromania. No satisfecho con esto quise ver
  como funcionaba por dentro y aprendi electronica, situacion que me llevo a
  aprender pascal, y ASM del procesador 8085 de intel. Esto me llevo a querer
  aprender mas sobre los lenguages y su funcionamiento. Con el tiempo quise
  aprender Visual C aplicando los conocimiento a los videojuegos y gracias al
  motor grafico Ogre3D. Conoci el mundo del Open GL, Direct X y la animación 3D.
</p>
<h2>Por que el desarrollo Web.</h2>
<p>
  dia me levante y pense de que manera puedo ayudar a otros, con todo lo que se
  y me di cuenta que muchos autonomos y pequeñas empresas apesar del auge que
  tiene intenet hoy dia, no tenian un pagina web o la que tenian era muy
  sencilla y apenas era capaz de mostrar un texto y una fotografia, y no podian
  decir "Aqui estoy"
</p>
