<header id="header">
  <div class="center">
    <!-- LOGO -->
    <div id="logo">
      <div id="brand">
        <p>
          <a [routerLink]="['/home']"><b>JUAN VICENTE VAZQUEZ G.</b></a>
        </p>
      </div>
    </div>

    <!-- MENU -->
    <nav id="menu">
      <ul>
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        </li>
        <li>
          <a href="blog.html" [routerLinkActive]="['active']">Portfolio</a>
        </li>
        <li>
          <a href="formulario.html" [routerLinkActive]="['active']">About</a>
        </li>
        <li>
          <a href="#" [routerLinkActive]="['active']">Contact</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/juan-vicente-vazquez-garcia/"
            ><img src="../assets/images/linkedin-32.svg" width="32"
          /></a>
        </li>
        <li>
          <a href="https://github.com/JuanVicenteVazquezG"
            ><img src="../assets/images/github.svg" width="32"
          /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
