<header id="header">
  <div class="center">
    <!-- LOGO -->
    <div id="logo">
      <div id="brand">
        <p>
          <b>JUAN VICENTE VAZQUEZ G.</b>
        </p>
      </div>
    </div>

    <!-- MENU -->
    <nav id="menu">
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="blog.html">Portfolio</a>
        </li>
        <li>
          <a href="formulario.html">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a><img src="../../../assets/images/linkedin-32.svg" width="32" /></a>
        </li>
        <li>
          <a><img src="../../../assets/images/github-32.svg" width="32" /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
