body {
  margin: 0px;
  padding: 0px;

  /*Fonts*/
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #0070b8;
}

#header {
  width: 90%;
  background: white;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

#logo {
  margin-top: 35px;
}

#menu {
  display: flex;
  font-size: 18px;
}

#menu ul {
  display: flex;
  flex-flow: row wrap;
}

#menu ul li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

#brand {
  color: black;
  font-size: 30px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: #f13e3e;
}

/*Slider*/

#slider {
  width: 100%;
  height: 350px;
  /*line-height: 320px;*/
  color: white;
  text-shadow: 0px 0px 5px #444;

  /*DEGRADADO CSS*/
  background: rgba(0, 112, 184, 1);
  /* background: rgba(248, 80, 50, 1); */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 112, 184, 1) 0%,
    rgba(71, 174, 238, 1) 0%,
    rgba(0, 145, 235, 1) 71%,
    rgba(0, 113, 184, 1) 100%
      /* rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 0%,
    rgba(230, 31, 5, 1) 71%,
    rgba(231, 56, 39, 1) 100% */
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    color-stop(0%, rgba(0, 112, 184, 1)),
    color-stop(0%, rgba(71, 174, 238, 1)),
    color-stop(71%, rgba(0, 145, 235, 1)),
    color-stop(100%, rgba(0, 113, 184, 1)) 100%
  );
  /* color-stop(0%, rgba(248, 80, 50, 1)),
    color-stop(0%, rgba(241, 111, 92, 1)),
    color-stop(71%, rgba(230, 31, 5, 1)),
    color-stop(100%, rgba(231, 56, 39, 1)100%, */

  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 112, 184, 1) 0%,
    rgba(71, 174, 238, 1) 0%,
    rgba(0, 145, 235, 1) 71%,
    rgba(0, 113, 184, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 112, 184, 1) 0%,
    rgba(71, 174, 238, 1) 0%,
    rgba(0, 145, 235, 1) 71%,
    rgba(0, 113, 184, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 112, 184, 1) 0%,
    rgba(71, 174, 238, 1) 0%,
    rgba(0, 145, 235, 1) 71%,
    rgba(0, 113, 184, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 112, 184, 1) 0%,
    rgba(71, 174, 238, 1) 0%,
    rgba(0, 145, 235, 1) 71%,
    rgba(0, 113, 184, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070b8', endColorstr='#0071B8', GradientType=1 );
}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 130px;
  text-align: center;
}

#footer {
  width: 90%;
  height: 70px;
  line-height: 70px;
  color: #444;
  margin: 0 auto;
  align-items: baseline;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

#footer ul{
  display: flex;
  flex-flow: row wrap;
}

#footer ul li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}
